---
http_interactions:
- request:
    method: post
    uri: https://api.idex.market/returnTicker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"30674-pfk8F0bYrM9iMaAZJ+wl9FlwL0k"
    body:
      encoding: UTF-8
      string: '{"ETH_PLU":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_1ST":{"last":"0.00027666","high":"0.0004925","low":"0.00027666","lowestAsk":"N/A","highestBid":"N/A","percentChange":"-43.82538071","baseVolume":"1.499924619999999998","quoteVolume":"3837.456852791878170558"},"ETH_VSL":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ARC":{"last":"0.0097","high":"0.0097","low":"0.0097","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ICN":{"last":"0.004999720000000004","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_REP":{"last":"0.04026712419766425","high":"0.046","low":"0.046","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_SNGLS":{"last":"0.00006","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_XAUR":{"last":"0.0015","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DGD":{"last":"0.731","high":"0.731","low":"0.559","lowestAsk":"N/A","highestBid":"N/A","percentChange":"30.76923077","baseVolume":"4.442537986845774456","quoteVolume":"7.320799013"},"ETH_P+":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_NXC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DCN":{"last":"0.0000008","high":"0.000001","low":"0.0000008","lowestAsk":"N/A","highestBid":"N/A","percentChange":"-20","baseVolume":"0.1553928","quoteVolume":"172241"},"ETH_SWT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_EMV":{"last":"0.000649","high":"0.000649","low":"0.00043000001","lowestAsk":"N/A","highestBid":"N/A","percentChange":"29.8","baseVolume":"3.47641243293532","quoteVolume":"5901.04"},"ETH_TIME":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MLN":{"last":"0.094506525779736","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_RHOC":{"last":"0.0015","high":"0.0015","low":"0.0015","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_EDG":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_GUP":{"last":"0.000434395365558756","high":"0.000434395365558756","low":"0.000434395365558756","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_RLC":{"last":"0.00132302","high":"0.00132302","low":"0.00132302","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TRST":{"last":"0.000334","high":"0.000334","low":"0.000334","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.189807204028","quoteVolume":"568.285042"},"ETH_DICE":{"last":"0.002995","high":"0.002995","low":"0.002995","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.118248683843704853","quoteVolume":"39.4820313334573799"},"ETH_TAAS":{"last":"0.01075757019010173","high":"0.01075757019010173","low":"0.01075757019010173","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_GNO":{"last":"0.989999999999999998","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_WINGS":{"last":"0.00134995","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_LUN":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TKN":{"last":"0.001455014855073914","high":"0.001455014855074","low":"0.001455014855073914","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_HMQ":{"last":"0.000273273766391005","high":"0.000273273766391005","low":"0.000273273766391005","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ANT":{"last":"0.004176679629487874","high":"0.004176699629487874","low":"0.004176679629487874","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_SGT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BCAP":{"last":"0.00279","high":"0.00279","low":"0.00279","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BAT":{"last":"0.00050998","high":"0.00050998","low":"0.00050998","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MYST":{"last":"0.000607737415307309","high":"0.00098023","low":"0.000607737415307309","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_CFI":{"last":"0.00014999","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MGO":{"last":"0.00233689","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_PTOY":{"last":"0.00057715","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BNT":{"last":"0.009144027578387177","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_QRL":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_GOOD":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_SNT":{"last":"0.00015502","high":"0.00015502","low":"0.00015502","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.259842986369021533","quoteVolume":"1676.19008108"},"ETH_SNM":{"last":"0.00005366","high":"0.00005366","low":"0.00005366","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.252806426239999951","quoteVolume":"4711.264"},"ETH_NMR":{"last":"0.0207154","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MCAP":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_PAY":{"last":"0.0021","high":"0.0021","low":"0.0021","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.21","quoteVolume":"100"},"ETH_ICE":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_PPT":{"last":"0.028999995","high":"0.028999995","low":"0.028999995","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_FUN":{"last":"0.000059","high":"0.000059","low":"0.000059","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.119942989947","quoteVolume":"2032.932033"},"ETH_ADT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_E4ROW":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_STORJ":{"last":"0.00090023","high":"0.00090023","low":"0.00090023","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.0946951937","quoteVolume":"105.19"},"ETH_NET":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_EOS":{"last":"0.008962459010000001","high":"0.008962459010000001","low":"0.00830002","lowestAsk":"N/A","highestBid":"N/A","percentChange":"7.98117366","baseVolume":"2.132766371918731005","quoteVolume":"251.090492411637036733"},"ETH_ADX":{"last":"0.00111002","high":"0.00111002","low":"0.00111002","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DRP":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BET":{"last":"0.00009994","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_PLBT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_OMG":{"last":"0.01812","high":"0.020399999999999998","low":"0.01812","lowestAsk":"N/A","highestBid":"N/A","percentChange":"-2.10696921","baseVolume":"19.02656306676415175","quoteVolume":"989.171821662100304925"},"ETH_BNB":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_NEWB":{"last":"0.00001075","high":"0.00001075","low":"0.00001075","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.99999725","quoteVolume":"93023"},"ETH_XRL":{"last":"0.000268999","high":"0.000268999","low":"0.000268999","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MBRS":{"last":"0.00007","high":"0.00007","low":"0.00007","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.63567","quoteVolume":"9081"},"ETH_MTL":{"last":"0.00685","high":"0.00685","low":"0.00685","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_FUCK":{"last":"0.000024","high":"0.000037","low":"0.000024","lowestAsk":"N/A","highestBid":"N/A","percentChange":"-4","baseVolume":"0.5605442433","quoteVolume":"15123.844500000050400832"},"ETH_BTH":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_PLR":{"last":"0.0007201000000001","high":"0.00085","low":"0.0007","lowestAsk":"N/A","highestBid":"N/A","percentChange":"2.87142857","baseVolume":"0.979370000000019998","quoteVolume":"1325"},"ETH_CVC":{"last":"0.0003602","high":"0.000849979999996208","low":"0.00030182","lowestAsk":"N/A","highestBid":"N/A","percentChange":"19.34265456","baseVolume":"0.775735422353964784","quoteVolume":"983.550327942408890172"},"ETH_LNK":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_SKIN":{"last":"0.00002672","high":"0.00002672","low":"0.00002672","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BCD":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TIX":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_CDT":{"last":"0.00048887","high":"0.00048887","low":"0.00048887","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_IXT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_AIRA":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_OAX":{"last":"0.00185","high":"0.00185","low":"0.00185","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_CLRT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MSP":{"last":"0.000069841","high":"0.000069841","low":"0.000069841","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.237459400000000034","quoteVolume":"3400"},"ETH_BAS":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_KTN":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DNT":{"last":"0.00009001","high":"0.00009001","low":"0.00009001","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BRAT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BQX":{"last":"0.00345102","high":"0.00345102","low":"0.00345102","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"13.80408","quoteVolume":"4000"},"ETH_STX":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_FYN":{"last":"0.004","high":"0.004","low":"0.004","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_CREDO":{"last":"0.00026611","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_NIH":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_QAU":{"last":"0.001","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DENT":{"last":"0.0000228799","high":"0.0000228799","low":"0.00001605","lowestAsk":"N/A","highestBid":"N/A","percentChange":"14.400072","baseVolume":"0.594717490809378805","quoteVolume":"25454.29621235"},"ETH_GUNS":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_SAN":{"last":"0.0015002","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_IND":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_LUCK":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ZRX":{"last":"0.0010698","high":"0.0010698","low":"0.0008","lowestAsk":"N/A","highestBid":"N/A","percentChange":"22.96551724","baseVolume":"1.998103993851091044","quoteVolume":"2260.008853708151774336"},"ETH_MCO":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DEL":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_STRC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_GTKT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_POE":{"last":"0.000069999","high":"0.000069999","low":"0.000069999","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.06393799399983696","quoteVolume":"913.41296304"},"ETH_BENJA":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_IDEA":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_WTT":{"last":"0.00121002","high":"0.00121002","low":"0.00121002","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_SCL":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TFL":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_IFT":{"last":"0.000100010011499999","high":"0.00014","low":"0.000100010011499999","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MyB":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_FLIK":{"last":"0.005","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MTP":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ADST":{"last":"0.000081317","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DALC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DDF":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_LRC":{"last":"0.00137998","high":"0.00137998","low":"0.00137998","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_RVT":{"last":"0.00098","high":"0.00098","low":"0.00098","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.1666","quoteVolume":"170"},"ETH_PIX":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TOV":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TNT":{"last":"0.00003748100002","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_CTR":{"last":"0.000859","high":"0.000859","low":"0.000859","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_FC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_VEN":{"last":"0.00679999","high":"0.00679999","low":"0.00571001","lowestAsk":"N/A","highestBid":"N/A","percentChange":"19.08893329","baseVolume":"23.856433663431658054","quoteVolume":"3878.507745433624906173"},"ETH_REX":{"last":"0.000899","high":"0.000899","low":"0.000899","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ROC":{"last":"0.0008","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MANA":{"last":"0.00005128","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_KICK":{"last":"0.00009019","high":"0.00009019","low":"0.00009019","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.1457121932437031","quoteVolume":"1615.61362949"},"ETH_YC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MTH":{"last":"0.00023975","high":"0.00023975","low":"0.00023975","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MPRM":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ATT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MCI":{"last":"0.00007","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_WTC":{"last":"0.019100005","high":"0.019100005","low":"0.019001181","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0.52009399","baseVolume":"0.198546261693443999","quoteVolume":"10.415124"},"ETH_AE":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_CCT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ELIX":{"last":"0.00024616","high":"0.00024616","low":"0.00024616","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.096830390434237149","quoteVolume":"393.36362704841214382"},"ETH_AVT":{"last":"0.0025","high":"0.0025","low":"0.0025","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_FAM":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_UMC":{"last":"0.000011","high":"0.000011","low":"0.000011","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ETBS":{"last":"0.001967944007697948","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_WILD":{"last":"0.00059997","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ORME":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MCD":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_NDC":{"last":"0.00193","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TPT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_DLT":{"last":"0.00456586","high":"0.00456586","low":"0.00456586","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BOP":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MDA":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_PST":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_JADE":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ART":{"last":"0.00051","high":"0.00051","low":"0.00051","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_PGL":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_FLIP":{"last":"0.00015","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_KIN":{"last":"0.000000336","high":"0.00000038","low":"0.0000003","lowestAsk":"N/A","highestBid":"N/A","percentChange":"6.66666667","baseVolume":"76.525447550048918179","quoteVolume":"234628036.185049106309031213"},"ETH_PRS":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_MRV":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BOTA":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TGT":{"last":"0.0005111","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BTN":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TRX":{"last":"0.0000486527967336","high":"0.0000546","low":"0.000048330010001","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0.66788054","baseVolume":"8.558236288579224116","quoteVolume":"158798.198692007857230784"},"ETH_ATL":{"last":"0.0015","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_COB":{"last":"0.00017328","high":"0.00017328","low":"0.00017328","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.244324799999999998","quoteVolume":"1409.999999999999989792"},"ETH_PRO2":{"last":"0.000753525","high":"0.001118871036","low":"0.000753525","lowestAsk":"N/A","highestBid":"N/A","percentChange":"-32.65309622","baseVolume":"0.777593705888926795","quoteVolume":"290.667994421504276372"},"ETH_IQT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_XHY":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ARX":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_EBET":{"last":"0.00014","high":"0.00014","low":"0.00014","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_CNX":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_HBT":{"last":"0.0013","high":"0.0013","low":"0.0013","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"2.846493962","quoteVolume":"1550.25074"},"ETH_KNC":{"last":"0.0022999","high":"0.0022999","low":"0.0022999","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.45952002","quoteVolume":"199.8"},"ETH_TKR":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_GGS":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_RLX":{"last":"0.00000012","high":"0.00000170001","low":"0.00000012","lowestAsk":"N/A","highestBid":"N/A","percentChange":"-78.57142857","baseVolume":"1.024275207637279973","quoteVolume":"1815276.91514616511935774"},"ETH_ARENA":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ATS":{"last":"0.00002","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_RSPR":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_WIC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_VOISE":{"last":"0.00002737211","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_SUB":{"last":"0.000982","high":"0.000982","low":"0.00072011","lowestAsk":"N/A","highestBid":"N/A","percentChange":"36.36805488","baseVolume":"0.9160804899","quoteVolume":"991.27"},"ETH_DOM":{"last":"0.00000064","high":"0.00000064","low":"0.00000064","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.05","quoteVolume":"78125"},"ETH_DAY":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_PPT2":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_XAI":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_IWT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_BMC":{"last":"0.00115002","high":"0.00115002","low":"0.00115002","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0.0885914428074498","quoteVolume":"77.03469749"},"ETH_UGT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_LINK":{"last":"0.00084900001","high":"0.00084900001","low":"0.000669999999999","lowestAsk":"N/A","highestBid":"N/A","percentChange":"26.70318176","baseVolume":"0.699935072303861615","quoteVolume":"1003.60735401526379151"},"ETH_ATM":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_GOOC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_TFT":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_ALPC":{"last":"N/A","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_VIBE":{"last":"0.00085","high":"0.00085","low":"0.00085","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolume":"0","quoteVolume":"0"},"ETH_RPL":{"last":"0.0025","high":"N/A","low":"N/A","lowestAsk":"N/A","highestBid":"N/A","percentChange":"0","baseVolu
[...]
