---
http_interactions:
- request:
    method: post
    uri: https://api.idex.market/returnTradeHistory
    body:
      encoding: UTF-8
      string: '{"market":"ETH_SNT"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1b37d-5Xy4nv08pZOkY8dmqZ9NTMnjMGQ"
    body:
      encoding: UTF-8
      string: '[{"date":"2018-03-13 21:57:46","amount":"1176.19008108","type":"sell","total":"0.182332986369021553","price":"0.00015502","orderHash":"0xe57a58cb8523007459b74f79b7bcfeb07971763d3bc422fa019ecf8b5f56f2cb","uuid":"90393fa0-2709-11e8-ba40-5142e5730514","buyerFee":"1.17619008108","sellerFee":"0.000364665972738043","gasFee":"0.00272","timestamp":1520978266,"maker":"0x6a1902bc0141cda8c7038439538785cfb8231080","taker":"0x601acc727ca96a2fdacae4f52c8b9e2826122941","transactionHash":"0xa9b23b023ad96dca585aa40edd6ce6c7ea20058ff828f0ea540d36df1e72dbc0"},{"date":"2018-03-13
        19:37:53","amount":"500","type":"sell","total":"0.07750999999999998","price":"0.00015502","orderHash":"0xe57a58cb8523007459b74f79b7bcfeb07971763d3bc422fa019ecf8b5f56f2cb","uuid":"05f89e70-26f6-11e8-8916-190a065abf02","buyerFee":"0.5","sellerFee":"0.00015502","gasFee":"0.00102","timestamp":1520969873,"maker":"0x6a1902bc0141cda8c7038439538785cfb8231080","taker":"0xa2df6eb2415747c013edb318853bcab8d9a24[...]
